{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots"/>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'image/logo.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body class="min-h-screen min-w-screen bg-base-200">
  <h1 class="text-3xl font-bold text-center mt-10">Hello, Tailwind with Django!</h1>
</body>
</html>
