.radial-gradient-bg {
    background-image: radial-gradient(
        circle 400px at var(--x) var(--y),
        rgba(8, 20, 88, 0.4) 0%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-attachment: local;
}