/* static/css/input.css */

@import "tailwindcss";

@theme {
  --font-sans: Poppins, sans-serif;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #444;
    border: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
